*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}
main{
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bg1{
    max-width: 55%;
    min-height: 90%;
    height: 500px;
    background: linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;
    position: relative;
    /* z-index: 1; */
}
.left{
    min-width: 500px;
    position: relative;
}
.mobile{
    max-width: 55%;
    /* min-height: 500px; */
    position: absolute;
    top: 100px;
    right: 30px;
    background: hsl(0, 0%, 100%);
    box-shadow: 2px 2px 10px 10px rgba(66, 65, 65, 0.062);
    border-radius: 40px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-cam{
    width: 200px;
    height: 35px;
     background: hsl(0, 0%, 100%);
     border-radius: 30px;
     position: absolute;
     top: 0px;
     left: 90px;
     z-index: 1;
}
.mobile-header{
    min-width:  100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-top: 2.4rem;
    /* min-height:   10px; */
    /* border: 1px solid red; */
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(to right,hsl(264, 100%, 61%),hsl(293, 100%, 63%));
}

.mobile-header img{
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50px;
}
.side-bar{
    width: 3px;
    height: 30px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    /* border: 1px solid red; */
}
.avatar{
    /* border: 1px solid red; */
    margin-left: -30px;
}
/* .user-name{
    /* border: 1px solid red; */

.user-name h4{
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  font-weight: 700;
  margin-left: -50px;
  padding-bottom: 5px;
}
.user-name p{
    color: hsl(276, 100%, 81%);
    font-weight: 600;
    margin-left: -50px;
    font-size: 17px;
}
.menu{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: end; */
}
.menu div{
    width: 5px;
    height: 5px;
    background: white;
    margin: 2px;
    border-radius: 9px;
}
/* mobile-content */
.mobile-content{
    background: hsl(270, 20%, 96%);
    min-width:  100%;
    margin-top: -5px;
    border-radius: 0 0 40px 40px;
}
.msg1{
    /* border: 1px solid red; */
    max-width: 70%;
    padding-left: 1rem;
}
.msg2{
    /* border:  1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1rem;
    padding-right: 0.5rem;
}
.msg2 h2{
    max-width: 80%;
    font-size: 1rem;
    background: hsl(0, 0%, 100%);
    color: hsla(270, 3%, 16%, 0.747);
    margin-top: 1rem;
    padding: 10px;
    border-radius: 20px 20px 10px 20px;
    font-weight: 600;
}
.images img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 9px;
}
.images{
    display: flex;
    justify-content: end;
}
.msg1 h2{
    font-size: 1rem;
    background: hsla(276, 55%, 52%, 0.137);
    color: hsl(276, 55%, 52%);
    margin-top: 1rem;
    padding: 10px;
    border-radius: 20px 20px 20px 10px;
    font-weight: 700;
}
.input{
    min-width: 100%;
    padding: 1rem;
    position: relative;
}
.input input{
    min-width: 100%;
    padding: 25px;
    border-radius: 30px;
    border: none;
    color: rgba(73, 72, 72, 0.144);
    font-size: 1.2rem;
    font-weight: 600;
}
.input-side{
    /* border: 1px solid red; */
    width: 50px;
    height: 50px;
    font-weight: 600;
    border-radius: 50px;
    color: rgb(252, 252, 252);
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 23px;
    right: 30px;
    font-size: 20px;
    background: hsl(271, 36%, 24%);
    padding-top: 0.8rem;
}
.right{
    display: flex;
    align-items: center;
    min-width: 500px;
    justify-content: center;
    flex-wrap: wrap;
}
.right-cont{
    max-width: 500px;
}
.right-cont h1{
    color: rgba(56, 56, 71, 0.952);
    font-size: 3rem;
    padding: 20px 0;
}
.right-cont p{
    color: rgba(105, 105, 105, 0.596);
    font-weight: 600;
    word-spacing: 2px;
    line-height: 25px;
}
.right-cont a{
    margin-top: 9rem;
    text-decoration: none;
    color: rgba(154, 17, 172, 0.87);
}




@media screen and (min-width: 1390px){
    .mobile{
        min-height: 650px;
    }
    .mobile-content{
        min-height: 540px;
    }
    .input{
        margin-top: 6rem;
    }
}
@media screen and (max-width:420px){
    main{
        display: grid;
        grid-template-rows: 900px 500px;
        grid-template-columns: none;
    }
    .bg1{
        margin-left: -50px;
        max-width: 300px;
        min-height: 700px;
    }
    .mobile{
        left: 2rem;
        max-width: 500px;
        max-height: 760px;
    }
    .mobile-cam{
        width: 200px;
        left: 120px;
    }
    .mobile-header{
        justify-content: space-around;
    }
   
    .mobile-content{
        min-height: 630px;
        min-width: 300px;
    }
    .msg1 h2{
        margin-top: 2rem;
        padding: 20px;
    }
    .msg2{
        /* min-width: 40px; */
        padding: 20px;
        padding-left: 9rem;
        margin-top: 2rem;
        display: grid;
        grid-template-rows: 70px 90px 70px;
    }
    .msg2 h2{
        /* float: right; */
        max-width: 300px;
        padding: 20px;
    }
    .images img{
        width: 70px;
        height: 70px;
    }
    .images{
        min-width: 250px;
        display: grid;
        grid-template-columns: repeat(3,60px);
        column-gap: 20px;
        justify-items: end;
    }
    .right{
        display: flex;
        align-items: center;
        min-width: 500px;
        justify-content: center;
        text-align: center;
    }
    .right-cont{
        max-width: 400px;
        /* display: flex; */
        /* justify-content: center; */
    }
    .right-cont p{
        line-height: 30px;
    }
}